body {
    background-color: darkcyan;
}

p {
    font-family: verdana;
    font-size: 20px;
    
}
#el{
    background-color: rgb(33, 123, 35);
    border-color:red;
    border: 5px;
    border-radius: 5px;
}

#el:hover{
    background-color: rgb(33, 87, 144);
    border-color:red;
}